.OrderSuccess {
    margin: 150px auto;
    width: 80%;
    height: 400px;
}

.OrderSuccess h2{ 
    text-align: center;
    margin-top: 10px;
}

.OrderSuccess p{ 
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

.OrderSuccess a{
    color: blue;
}

.OrderSuccess__info {
    margin: 20px auto;
    border-top-style: ridge;
    width: 500px;
}